.navitem{
  margin: 10px;
}

li {
  list-style-type: none
}

body{
  height: 100vh;

}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

#item:checked+label {
  color: blue;
  text-decoration: line-through;
}